@import url("http://fonts.googleapis.com/css?family=Dosis:300,400,500");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

html, body {
  height: 100%;
}

.main {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -25px;
}
.main .main-push {
  height: 25px;
}

footer {
  clear: both;
  position: relative;
  height: 25px;
}

* {
  box-sizing: border-box;
}

html, body {
  color: white;
  font-family: Dosis;
  background: #14151a;
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: white;
}
a:visited {
  color: inherit;
}

.main {
  padding-top: 150px;
  font-size: 400%;
}

.title {
  padding-bottom: 15px;
}

.subtitle {
  font-size: 30%;
  color: rgba(255, 255, 255, 0.4);
  padding-bottom: 15px;
}

input.link {
  width: 60%;
  height: 2.5em;
  border: 0;
  padding: 1em;
  font-size: 40%;
  background: #e3324a;
  color: white;
  font-family: inherit;
  text-align: inherit;
}
input.link:focus {
  outline: 0;
}

button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: inherit;
  margin: 0 auto;
  background: transparent;
  border: 2px solid white;
  padding: 7.5px 15px;
  color: white;
  font-size: 45%;
}
button:hover {
  background: #e3324a;
  border-color: #e3324a;
}
button:focus {
  outline: 0;
}
button.download {
  margin: 20px auto;
  display: block;
}
button.disabled {
  border-color: rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 0.4);
}

footer {
  font-family: helvetica;
  font-weight: lighter;
  font-size: 100%;
  color: rgba(255, 255, 255, 0.4);
}

.bottom-splitter {
  color: white;
}
